body {
    background-image: url(bgimage.jpg);
    background-size: 100%;
    background-attachment: fixed;
    font-family: helvetica;
}
nav {
    background-color: rgb(255 255 255 / 20%);
    padding: 20px;
}
h1, h2, p, label {
    color: whitesmoke;
}
a:link {
    color: white;
    text-decoration: none;
    padding: 5px;
}
a:hover {
    color: yellow;
}
a {
    color: white;
}
table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(199, 199, 199);
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(0, 0, 0);
}
tr:hover{background-color:#a3a3a3}
footer{
    background-color: rgb(33 37 41);
    padding: 10px;
}